colorama==0.4.6
coverage==7.3.0
iniconfig==2.0.0
packaging==23.1
pluggy==1.2.0
pytest==7.4.0
pytest-cov==4.1.0

pip~=23.2.1
attrs~=22.2.0
argparse~=1.4.0
utils~=1.0.1
pexpect~=4.8.0
setuptools~=65.5.0
zipp~=3.16.2
build~=0.10.0